.left{
	display: none;
}
header{
    background-color: #b2b2b2 ;
}
h1{
	color:  #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
.active{
	color: #000000;
	background-color: #C5C5C5;
}
a{
	color: #000000;
	background-color: #C5C5C5;
}
h2{
	color: #000080;
	text-transform: uppercase;
}
.right{
	background-color: #7F7F7F;
}
